---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { configs, url } from "src/config";

const cfg = configs.lmx;
---

<BaseLayout
    title={cfg.AUTHOR_INITIAL + " | Personal"}
    sideBarActiveItemID="personal"
    site="lmx"
>
    <div class="w-[10rem] mt-5 mb-6">
        <Image
            class="fill-current rounded-ac-md"
            format="webp"
            width={300}
            height={300}
            src={url('favicon.svg')}
            alt="icon"
        />
    </div>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">关于我</div>
    </div>

    <div class="mb-10 text-justify">
        你好！我是一名热爱设计和创意的前端设计师。
        我喜欢用设计表达想法，用代码实现创意。
        这个网站展示了我参与的项目和日常学习笔记。
        希望能与你分享我的设计旅程！
    </div>
</BaseLayout>
