---
import { configs } from "../config";
const { site = "" } = Astro.props;
const authorName = site ? configs[site]?.AUTHOR_NAME : "";
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10 text-ac-text-light">
    <div class="pb-2">
        &copy; {today.getFullYear()} {authorName}
    </div>
    <!-- <div class="inline opacity-25">
        Created using
        <a href="https://astrofy-template.netlify.app/" target="_blank"
            >Astrofy</a
        > by <a href="https://manuelernestog.github.io" target="_blank"
            >Manuel Ernesto</a
        >
    </div> -->
</footer>
<style></style>
